<u><h1>INDEX</h1></u>

<%= link_to 'New Article', new_article_path %>

<table>
	<tr>
		<th>TITLE</th>
		<th>TEXT</th>
	</tr>

	<%= @articles.each do |article| %>
	 <tr>
	 	<td><%= article.title %></td>
	 	<td><%= article.text %></td>
	 	<td><%= link_to 'Show', article_path(article) %></td>
	 	<td><%= link_to 'Edit', edit_article_path(article) %></td>
	 	<td><%= link_to 'Destroy', article_path(article),
              method: :delete %></td>
	 </tr>
	<% end %>
</table>